/* Variables */

/* Base Colors */
@dark: #222;
@light: #DDD;
@first-strong: #184D68; /* blue */
@first-accent: #31809F;
@second-strong: #D55121; /* orange */
@second-accent: #FB9C6C;
@third-strong: #CFE990; /* yellow-green */
@third-accent: #EAFBC5;

.base-font {
  font-family: 'Open Sans', sans-serif;
}

.fancy-font {
  font-family: 'Loved by the King', cursive;
  letter-spacing: 2px;
  word-spacing: -10px;
}

/* box width maintainability in IE-8+ */

*,
:before,
:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  .base-font;
  background: @third-accent;
}

* { 
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 { .fancy-font; font-size: 60px; text-align: center;}
h2 { padding-top: 14px; font-size: 20px; text-align: center; color: @first-accent;}

a { text-decoration: none;}

.site-header { background: url(../images/header-bg.png); height: 210px; }
.site-header a { color: @third-strong;}
.site-header img { float: right; position: relative; left: 10px; }

.main-navigation { padding-left: 20px;}
.main-navigation a,
.main-navigation a:visited {
  position: relative;
  .fancy-font;
  padding: 5px 10px 5px;
  font-size: 24px;
  color: #fff;
}
.main-navigation a:hover,
.main-navigation a:active, {
  color: @third-strong;
  border-bottom: 30px solid @third-strong;
}
.main-navigation a:hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  border-bottom: 6px solid @third-strong;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

}

#content {
  background: @light;
}

#dynamic-sidebar {
  display: none;
  background: url(../images/sidebar-bg.png) #333 repeat-x right top;
  position: relative;
  top: 0;
  float: left;
  margin-left: -150px;
}

.dynamic-sidebar-content {
  margin-left: 0;
}

@media all and (min-width: 1240px) {
  #page {
    position: relative;
    left: -150px;
  }

  #dynamic-sidebar {
    display: block;

  }

}

