/* box width maintainability in IE-8+ */

*,
:before,
:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* Base Colors */
@dark: #222;
@light: #DDD;
@primary: #184D68;
@secondary: #D55121;
@highlight: #CFE990;
@primary-accent: #31809F;
@secondary-accent: #FB9C6C;
@highlight-accent: #EAFBC5;

/* Color Combo Mix-ins */


.secondary-body {
  background: @secondary-accent;
  color: @dark;
}

/* reusable classes */

.fancy-font {
  font-family: 'Pompiere', cursive;
}

/* clearfix from http://css-tricks.com/pseudo-element-roundup/ */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.fl {
  float: left;
}


/* Global */

.container_24 { text-align: center;}
a { text-decoration: none; }
h1 { font-size: 5em; position: relative;}
h2 { font-size: 2.0em;}
h2,h3,h4,h5,h6 { font-size: 1.8em; .fancy-font;}

/* Header Specific */

.site-branding {
  .fancy-font;
  height: 120px; /* 120px allows 30px for nav */
}

.site-branding a {
  background: @primary;
  color: @highlight;
}
.site-branding a:hover {
  color: @secondary-accent;
}
.site-branding h2 {
  margin-top: 56px;
}

.circle {
  padding: 30px;
  background: @primary-accent;
  border-radius: 50%;
}

/* Horizontal Navigation */
#site-navigation {
  padding: 0;
  margin: 0;
  background: @primary;
  overflow: hidden;
  height: 100px;
}

#site-navigation nav {
  overflow: auto;
  white-space: nowrap;
}

#site-navigation ul {
  width: 1200px;
  display: inline-block;
}

#site-navigation .sub-menu {
  background: red;
}

#site-navigation .sub-menu li {
  white-space: normal;
  display: block;
}

#site-navigation a {
  .fancy-font;
  color: @highlight;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 1.3em;
}
#site-navigation a:hover {
  color: @secondary-accent;
}

.f {
   background: @primary;
   color: @light;
}


.l {
  background: @secondary;
  color: @light; 
}

#content,
.focus {
  color: @dark;
  background: @highlight-accent;
}



#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  color: @primary;
}

.focus {
  min-height: 300px;
}

.fmid {
  height: 150px;
  background: @primary;
}

.fmid p {
  color: @light;
}
